<div class="page-header">
  <h3 class="page-title">
    Visualize
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Containers</a></li>
      <li class="breadcrumb-item active" aria-current="page">Visualize</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-3 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-sm-flex align-items-baseline report-summary-header">
              <h5 class="font-weight-semibold">Select Container</h5> <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
            </div>
            <!-- Container Seletion -->
            <div ngbDropdown>
              <button class="btn btn-secondary" type="button" id="dropdownMenuButton2" ngbDropdownToggle>
                List
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                <!-- <h6 class="dropdown-header">Settings</h6> -->
                <option (click)="selectContainer(i)" class="dropdown-item" *ngFor="let cont of containerRefs;let i = index;">{{cont.containerRef}}</option>
                <!-- <a class="dropdown-item">Something else here</a> -->
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <a class="dropdown-item">Separated link</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TEMPERATURE -->
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Temp Line chart</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="tempLineChartData" [labels]="tempLineChartLabels" [options]="tempLineChartOptions" [colors]="tempLineChartColors"></canvas>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Temp Bar chart</h4>
        <canvas baseChart [chartType]="'bar'" [datasets]="tempBarChartData" [labels]="tempBarChartLabels" [options]="tempBarChartOptions" [colors]="tempBarChartColors"></canvas>
      </div>
    </div>
  </div> -->
  <div class="col-lg-6 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gaz Line chart</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="gazLineChartData" [labels]="gazLineChartLabels" [options]="gazLineChartOptions" [colors]="gazLineChartColors"></canvas>
      </div>
    </div>
</div>

<!-- GAZ -->
<div class="row">
  <!-- <div class="col-lg-6 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gaz Line chart</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="gazLineChartData" [labels]="gazLineChartLabels" [options]="gazLineChartOptions" [colors]="gazLineChartColors"></canvas>
      </div>
    </div> -->
  </div>
  <!-- <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gaz Bar chart</h4>
        <canvas baseChart [chartType]="'bar'" [datasets]="gazBarChartData" [labels]="gazBarChartLabels" [options]="gazBarChartOptions" [colors]="gazBarChartColors"></canvas>
      </div>
    </div>
  </div> -->
</div>

