<div class="page-header">
  <h3 class="page-title">
    Look Up
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Containers</a></li>
      <li class="breadcrumb-item active" aria-current="page">Look Up</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
          <h4 class="card-title mb-sm-0">All Registered Containers</h4>
          <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> Go To (todo)</a>
        </div>
        <div class="table-responsive border rounded p-1">
          <table class="table">
            <thead>
              <tr>
                <th class="font-weight-bold">Container </th>
                <th class="font-weight-bold">Owner</th>
                <th class="font-weight-bold">Location</th>
                <th class="font-weight-bold">Destination</th>
                <th class="font-weight-bold">Last Active</th>
                <th class="font-weight-bold">Status</th>
                <th class="font-weight-bold"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let cont of allContainers; let i = index" >
                <tr id="{{i}}" >
                  <td>{{cont.containerRef}}</td>
                    <td>
                      <img  class="img-sm rounded-circle" src="assets/images/faces/face1.jpg" alt="profile image"> {{cont.owner}}
                    </td>
                  <td>{{cont.location}}</td>
                  <td>{{cont.destination}}</td>
                  <td>{{cont.last_active}}</td>
                  <td>
                    <div [class]="cont.status == 'GOOD'?'badge badge-success p-2':cont.status == 'BAD'?'badge badge-danger p-2':'badge badge-dark p-2' ">{{cont.status}}</div>
                  </td>

                  <td><button (click)="unpin(i)" *ngIf="cont.pinned" class="btn btn-outline-secondary btn-rounded btn-icon">
                    <i class="mdi mdi-pin-off text-danger"></i>
                  </button>
                  <button (click)="pin(i)" *ngIf="!cont.pinned" class="btn btn-outline-secondary btn-rounded btn-icon">
                    <i class="mdi mdi-pin  text-dark"></i>
                  </button>
                </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="d-flex mt-4 flex-wrap align-items-center">
          <p class="text-muted mb-sm-0">Showing 1 to 10 of 57 entries</p>
          <nav class="ml-auto">
            <ul class="pagination separated pagination-info mb-sm-0">
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

